@using Garage_2._0.Common
@model VehicleIndexViewModel

@{
    ViewData["Title"] = "Parkerat";
    ViewData["searchParent"] = "Index";
}


<h1>Parkerade fordon</h1>

@*<p>
    Platser kvar: @(Model is null ||Model.Vehicles is null ?0:Model.MaxCapacity-  Model.Vehicles.Count())
</p>*@
<p>
    Platser kvar: @(Model.FreeParkingSpots)
</p>

<p>
    <a asp-action="Create">Checka in nytt fordon</a>
</p>

<partial name="_SearchFunction" view-data="ViewData" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameForInnerType((ParkingDetailModel p) => p.RegNo)
            </th>
            <th>
                @Html.DisplayNameForInnerType((ParkingDetailModel p) => p.Wheels)
            </th>
            <th>
                @Html.DisplayNameForInnerType((ParkingDetailModel p) => p.Brand)
            </th>
            <th>
                @Html.DisplayNameForInnerType((ParkingDetailModel p) => p.Model)
            </th>
            <th>
                @Html.DisplayNameForInnerType((ParkingDetailModel p) => p.Color)
            </th>
            <th>
                @Html.DisplayNameForInnerType((ParkingDetailModel p) => p.VehicleType)
            </th>
            <th>
                @Html.DisplayNameForInnerType((ParkingDetailModel p) => p.CheckIn)
            </th>
            <th>
                @Html.DisplayNameForInnerType((ParkingDetailModel p) => p.CheckOut)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                @*                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @*|
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
