@using Garage_2._0.Common
@model IEnumerable<Garage_2._0.Models.ViewModels.ParkingDetailModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Filter">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="regNo" placeholder="Search on reg No" />
        <div class="input-group-append">
            <select class="form-control" name="vehicleType" asp-items="@Html.GetEnumSelectList<VehicleTypes>()">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.Wheels)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Model)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.CheckOut)
                </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
