@model IEnumerable<Garage_2._0.Models.ViewModels.StatisticsViewModel>

@{
    ViewData["Title"] = "Statistik";
}
<h1>
    Statistik för Garage 2.0
</h1>

<div class="table-responsive">
    <table class="table  table-striped">
        <thead>
            <tr class="table-dark">
                <th class="align-items-center">
                    @Html.DisplayNameFor(model => model.VehicleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumOfVehicles)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumOfWheels)
                </th>
                <th class="text-end">
                    @Html.DisplayNameFor(model => model.TotalTime)
                </th>
                <th class="text-end">
                    @Html.DisplayNameFor(model => model.Payment)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumOfVehicles)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumOfWheels)
                    </td>
                    <td class="text-end">
                        @Html.DisplayFor(modelItem => item.TotalTime)
                    </td>
                    <td class="text-end">
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                </tr>
            }
        </tbody>
        <tbody>
            <tr class="table-dark">
                <td>
                        @Html.Raw("Antal Fordonstyper: ")
                        @Model.Count()
                </td>
                <td>

                        @Model.Sum(item => item.NumOfVehicles)
                </td>
                <td>
                        @Model.Sum(item => item.NumOfWheels)
                </td>
                <td class="text-end">
                        @Model.Sum(item => item.TotalTime)
                </td>
                <td class="text-end">
                        @String.Format(" {0:C2}", Math.Round((decimal)(Model.Sum(item => item.TotalTime) * 10 / 60), 2))
                </td>
            </tr>
            </tr>
        </tbody>
    </table>
</div>

